.vscode
.git
.ruff_cache
.github
.data_dump
docs
output
postprocessing
tuning
spin
tests
test
benchmark
build

**/.pytest_cache
**/__pycache__
**/.DS_Store
**/.dockerignore
**/tmp*
**/*.so

*.egg-info

.pre-commit-config.yaml

!output/level=processed/type=CCD_ON_TIMES/times.parquet
